@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)";
body {
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #a7a599;
  background: rgb(131, 131, 131);
}

/*Login form style*/

#errorBox{
  display: none;
  background: rgb(237, 225, 133);

  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 2%;
  color: black;
}
#errorBox > span{
  
  font-size: 1.3em;
}


/* === Form === */
.form {
  width: 100%;
}
.form .field {
  position: relative;
  margin: 0 30px;
  padding: 0 5%;
}


/* === Login styles === */
.login {
  position: relative;
  margin: 5% auto;
  margin-top: 1% auto;
  width: 30%;
  height: 500px;
  background: #FAFAFA;
  border-radius: 25px;
}

.login h1 {
  border-radius: 25px;
  line-height: 55px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: rgb(255, 145, 0);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login .submit {
  text-align: center;
}

.login p:first-child {
  margin-top: 35px;
}



/*input style*/

/* === Input Form === */
::-webkit-input-placeholder {
  color: #888888;
  font-family: 'Open Sans';
}

:-moz-placeholder {
  color: #888888 !important;
  font-family: 'Open Sans';
}

.form input[type=text], input[type=password], input[type=email] {
  font-family: 'Open Sans', Calibri, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  /* position: relative; */
  height: 24px;
  width: 90%;
  color: #414141;
  border: none;
  background: #22222210;
  color: rgb(73, 73, 73);
  transition: color 0.3s ease-out;
  margin-bottom: 8px !important;
}

.form input[type=button] {
  margin-top: 15px;
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  padding: 10px 0px;
  letter-spacing: 0;
  box-shadow: inset 0px 0px 0px 0px #0277BD;
  color: #fff;
  background-color: rgb(255, 145, 0);
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: shadowFadeOut 0.4s;
  -moz-animation: shadowFadeOut 0.4s;
}

.form input[type=button]:hover, input[type=button]:focus {
  color: #fff;
  box-shadow: inset 0px 46px 0px 0px #0277BD;

  -webkit-animation: shadowFade 0.4s;
  -moz-animation: shadowFade 0.4s;
}

#controlBtns{
  padding: 3%;
  width: auto;
  text-align: center;
  overflow: auto;
}

#homeBtn{
  float: left;
  padding: 6%;
  width: 50%;

  border: none; 
  color: white; 
  background-color: #aec037;
  border-radius: 25px;
}
#loginButn{
  padding: 6%;
  width: 50%;
  border: none; 
  color: white; 
  background-color: rgb(117, 75, 158);
  border-radius: 25px;
}

#homeBtn:hover, #loginButn:hover{
  cursor: pointer;
  background-color: rgb(255, 145, 0);
}




/*keyframes for input animation*/

@keyframes shadowFadeOut {
  0% {
    box-shadow: inset 0px 46px 0px 0px #0277BD;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px #0277BD;
    color: #fff;
  }
}
@-webkit-keyframes shadowFade {
  0% {
    box-shadow: inset 0px 0px 0px 0px #0277BD;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 46px 0px 0px #0277BD;
    color: #fff;
  }
}

@-moz-keyframes shadowFade {
  0% {
    box-shadow: inset 0px 0px 0px 0px #0277BD;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 46px 0px 0px #0277BD;
    color: #fff;
  }
}
@-moz-keyframes shadowFadeOut {
  0% {
    box-shadow: inset 0px 44px 0px 0px #0277BD;
    color: #fff;
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px #0277BD;
    color: #fff;
  }
}


@media screen and (min-width: 1400px) {
 
}

@media screen and (max-width: 880px) and (min-width: 780px) {
  .login{
    width: 60%;
   }
}
@media screen and (max-width: 994px) and (min-width: 651px) {
  .login{
    width: 50%;
   }
}

@media screen and (max-width: 650px) and (min-width: 451px) {
  .login{
    width: 70%;
   }
}

@media screen and (max-width: 450px) {
 .login{
  width: 80%;
 }
 button{
   float: left;
 }
}